body {

    font-family: Graduate;

}

h1 {

    text-align: center;
    font-family: Graduate;

}

#chrono {
    font-size: 50px;
    margin-top: 5%;
    margin-left: 33%;
    font-family: Radioland, Graduate;
    color: orangered;
}




#entres {
    margin-top: 5%;
    margin-left: 18%;
}

#play-buuton {

    margin-left: 80%;
}

#stop-button {

    margin-left: 5%;
}

#reset {

    margin-top: 10%;
    margin-left: 47%;
}

.styleBouton {

    height: 50px;
    font-family: Graduate;
    background-color: blue;
    color: white;

}