h1 {

    text-align: center;

}

#chrono {
    font-size: 50px;
    margin-top: 5%;
    margin-left: 38%;
}

#entres {
    margin-top: 5%;
    margin-left: 18%;
}

#play-buuton {

    margin-left: 80%;
}

#stop-button {

    margin-left: 5%;
}

#reset {

    margin-top: 10%;
    margin-left: 47%;
}